.ui-Heading,
.ui-Heading[color=dark] {
    color: #54585E
}
.Grid,
.Page {
    box-sizing: border-box
}
.CustomerQuote,
.navigationMenu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal
}
.ui-Heading {
    display: block;
    font-family: 'Freight Sans', Verdana, Geneva, sans-serif;
    font-weight: 400
}
.ui-Heading[size=small] {
    font-size: 20px;
    line-height: 22px;
    font-family: 'Freight Sans Small Caps', Verdana, Geneva, sans-serif;
    text-transform: lowercase
}
.ui-Heading[size=large] {
    font-size: 24px;
    line-height: 36px;
    font-weight: 400
}
.ui-Heading[size=huge] {
    font-size: 36px;
    line-height: 44px;
    font-weight: 300
}
.ui-Heading[size=h1] {
    font-size: 60px;
    line-height: 60px;
    font-weight: 300
}
.ui-Heading[size=h2] {
    font-size: 45px;
    line-height: 50px;
    font-weight: 300
}
.ui-Heading[size=h3] {
    font-size: 36px;
    line-height: 40px;
    font-weight: 300
}
.ui-Heading[size=h4] {
    font-size: 24px;
    line-height: 27px;
    font-weight: 400
}
.ui-Heading[size=h5] {
    font-size: 18px;
    line-height: 24px;
    font-weight: 500
}
.ui-Heading[color=pine] {
    color: #089972
}
.ui-Heading[color=light] {
    color: #707479
}
.ui-Heading[color=inverse] {
    color: #FCFAF7
}
.ui-Heading[margin=small] {
    margin-bottom: 5px
}
.ui-Heading[margin=medium] {
    margin-bottom: 10px
}
.ui-Heading[margin=large] {
    margin-bottom: 20px
}
.ui-Heading[margin=huge] {
    margin-bottom: 30px
}
.ui-Copy {
    font: 400 16px/21px 'Freight Sans', Verdana, Geneva, sans-serif;
    color: #54585E
}
.ui-Copy.medium {
    font: 400 18px/27px 'Freight Sans', Verdana, Geneva, sans-serif;
    color: #54585E
}
.ui-Copy.tiny {
    font: 400 14px/18px 'Freight Sans', Verdana, Geneva, sans-serif;
    color: #54585E;
    display: flex;
}
.ui-Copy.center,
.ui-Copy.justify,
.ui-Copy.left,
.ui-Copy.right {
    text-align: left
}
.popular-partners,
.CustomerQuote,
.Hook,
.TitleGroup--center {
    text-align: center
}
.ui-Copy p+p {
    margin-top: 10px
}
.ui-Copy a {
    color: #3CC76A;
    text-decoration: underline
}
.ui-Copy strong {
    font-weight: 500;
    color: #54585E
}
.ui-Copy code,
.ui-Copy>pre {
    background: #FCFAF7;
    font: 400 13px/22px 'Droid Sans Mono', monospace
}
.ui-Copy ul {
    list-style: disc;
    margin: 10px 0
}
.ui-Copy li {
    margin: 5px 0
}
.ui-Copy>pre {
    display: block;
    padding: 15px;
    white-space: pre;
    margin: 10px 0;
    border: 1px solid #f7f2e7;
    border-radius: 4px
}
.ui-Button,
.ui-Copy h4 {
    font-family: 'Freight Sans Small Caps', Verdana, Geneva, sans-serif;
    text-transform: lowercase
}
.ui-Copy hr {
    background: rgba(204, 190, 173, .5);
    border: 0;
    height: 1px;
    margin: 30px 0
}
.ui-Copy h1 {
    color: #54585E;
    margin-bottom: 7px;
    font-size: 36px;
    line-height: 44px;
    font-weight: 300
}
.ui-Copy h2,
.ui-Copy h3 {
    margin-bottom: 5px;
    font-weight: 400
}
.ui-Copy h2 {
    color: #54585E;
    margin-top: 20px;
    font-size: 27px;
    line-height: 36px
}
.ui-Copy h3,
.ui-Copy h4 {
    color: #54585E;
    margin-top: 20px;
    font-size: 20px
}
.ui-Copy h3 {
    line-height: 30px
}
.ui-Copy h4 {
    margin-bottom: 0;
    font-weight: 400;
    line-height: 22px
}
.ui-Copy h5,
.ui-Copy h6 {
    color: #54585E;
    margin-bottom: 0;
    margin-top: 15px;
    font-weight: 400
}
.ui-Copy h5 {
    font-size: 18px;
    line-height: 24px
}
.ui-Copy h6 {
    font-size: 16px;
    line-height: 21px
}
.ui-Button {
    background-color: #3CC76A;
    border-radius: 4px;
    border: 0;
    color: #fff;
    display: inline-block;
    line-height: 16px;
    text-decoration: none;
    -webkit-transition: all .2s;
    transition: all .2s;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, .1)
}
.ui-Button:active,
.ui-Button:focus,
.ui-Button:hover {
    background-color: #50cd79;
    color: #fff;
    text-decoration: none
}
.ui-Button:active,
.ui-Button:focus {
    box-shadow: 0 0 7px 1px rgba(8, 153, 114, .5);
    outline: 0
}
.ui-Button[size=small] {
    font-size: 16px;
    font-weight: 400;
    padding: 9px 15px
}
.ui-Button[size=medium] {
    font-size: 18px;
    font-weight: 400;
    padding: 11px 15px 12px
}
.ui-Button[size=large] {
    font-size: 20px;
    font-weight: 400;
    padding: 13px 20px
}
.ui-Button[extras*=fluid] {
    width: 100%
}
.ui-Button[extras*=round] {
    border-radius: 50px
}
.ui-Button[modifier=secondary] {
    background: #fff;
    border: none;
    color: #3CC76A;
    box-shadow: 0 0 0 1px #3CC76A inset, 0 2px 0 0 rgba(0, 0, 0, .03)
}
.ui-Button[modifier=secondary]:active,
.ui-Button[modifier=secondary]:focus,
.ui-Button[modifier=secondary]:hover {
    color: #77d897
}
.ui-Button[modifier=secondary]:active,
.ui-Button[modifier=secondary]:focus {
    box-shadow: 0 0 0 1px #3CC76A inset
}
.ui-Button[modifier=toolbar] {
    background: #FCFAF7;
    border: none;
    color: #54585E
}
.ui-Button[modifier=toolbar]:active,
.ui-Button[modifier=toolbar]:focus,
.ui-Button[modifier=toolbar]:hover {
    color: #54585E
}
.ui-Button[modifier=danger] {
    background: #EB5C2D
}
.ui-Button[disabled] {
    opacity: .5;
    cursor: not-allowed
}
.ui-Button[icon] {
    position: relative
}
.ui-Button[icon]::after {
    content: '';
    display: inline-block;
    height: 16px;
    width: 16px;
    pointer-events: none;
    background: url(../../../client/button/images/icons.svg) no-repeat;
    vertical-align: middle;
    margin-left: 3px
}
.ui-Button[icon=arrow]::after {
    background-position: 0 0
}
.ui-Button[icon=arrow][modifier=secondary]::after,
.ui-Button[icon=arrow][modifier=toolbar]::after {
    background-position: -30px 0
}
.ui-Button[icon=plus]::after {
    background-position: 0 -15px
}
.ui-Button[icon=plus][modifier=secondary]::after,
.ui-Button[icon=plus][modifier=toolbar]::after {
    background-position: -30px -15px
}
.ui-Button[icon=select]::after {
    background-position: 0 -30px
}
.ui-Button[icon=select][modifier=secondary]::after,
.ui-Button[icon=select][modifier=toolbar]::after {
    background-position: -30px -30px
}
.ui-Button+.ui-Button {
    margin-left: 10px
}
.Page {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px
}
.SignupBanner {
    background: #FFF;
    border: 1px solid rgba(204, 190, 173, .5);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .04);
    border-radius: 4px;
    padding: 40px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
}
.ArrowLink:after,
.TitleGroup--border::after {
    content: '';
    display: block
}
.SignupBanner-text {
    font-size: 20px;
    color: #54585E;
    line-height: 30px
}
.SignupBanner-button {
    margin-left: 30px
}
.TitleGroup {
    position: relative
}
.TitleGroup-title {
    font-family: 'Freight Sans', Verdana, Geneva, sans-serif;
    font-weight: 400;
    font-size: 27px;
    color: #54585E;
    line-height: 30px;
    margin-bottom: 5px;
    -webkit-font-smoothing: antialiased
}
.ArrowLink,
.popular-partners-title,
.CustomerQuote-citation,
.Integration-searchInput,
.navigationMenu-item {
    font-family: 'Freight Sans Small Caps', Verdana, Geneva, sans-serif
}
.TitleGroup-subtitle {
    font-size: 20px;
    color: #707479;
    line-height: 27px;
    -webkit-font-smoothing: antialiased
}
.TitleGroup-subtitle a {
    color: #3CC76A;
    text-decoration: underline;
    font-weight: 400
}
.TitleGroup-link {
    margin-top: 10px
}
.TitleGroup--center .TitleGroup-subtitle {
    width: 550px;
    margin: 0 auto
}
.TitleGroup--inverse .TitleGroup-title {
    color: #FCFAF7
}
.TitleGroup--inverse .TitleGroup-subtitle {
    color: #B7BDC4
}
.TitleGroup--large .TitleGroup-title {
    font-size: 36px;
    line-height: 40px;
    font-weight: 300;
    margin-bottom: 20px
}
.TitleGroup--large .TitleGroup-link {
    margin-top: 20px
}
.TitleGroup--border::after {
    height: 1px;
    background: rgba(204, 190, 173, .5);
    width: 115px;
    position: absolute;
    bottom: -60px;
    left: 0
}
.ArrowLink {
    color: #3CC76A;
    text-decoration: none;
    font-size: 18px;
    text-transform: lowercase;
    padding-right: 12px;
    position: relative;
    font-weight: 500
}
.ArrowLink:after {
    height: 9px;
    width: 5px;
    background: url(../../../client/arrow-link/images/leaf.svg) no-repeat;
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}
.CustomerQuote,
.Grid {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox
}
.Hook,
.carousel,
.carousel li {
    position: relative
}
.ArrowLink:hover {
    text-decoration: underline
}
.ArrowLink.white {
    color: #fff
}
.ArrowLink.white:after {
    background-image: url(../../../client/arrow-link/images/white.svg)
}
.Divider {
    border: 0;
    height: 1px;
    background: rgba(204, 190, 173, .5);
    margin: 0
}
.CustomerQuote {
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}
.CustomerQuote--padding {
    padding: 70px 0 50px
}
.CustomerQuote-avatar {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
    border-radius: 100px
}
.CustomerQuote-readMore {
    margin-top: 10px
}
.CustomerQuote-image {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 100px
}
.Integration-search,
.SandBackground {
    border: 1px solid rgba(204, 190, 173, .5)
}
.CustomerQuote-content {
    color: #54585E;
    width: 650px;
    font-size: 22px;
    line-height: 30px;
    text-align: center
}
.CustomerQuote-content:after,
.CustomerQuote-content:before {
    font-size: 25px
}
.CustomerQuote-content:before {
    content: '“'
}
.CustomerQuote-content:after {
    content: '”'
}
.CustomerQuote-citation {
    font-size: 20px;
    color: #707479;
    text-transform: lowercase;
    margin-top: 15px
}
.CustomerQuote-logo {
    width: 150px;
    height: 50px;
    margin-top: 10px
}
.partner-logo {
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: center;
    display: inline-block;
    text-indent: -9999px;
    overflow: hidden;
    width: 100%;
    height: 100%
}
.partner-logo--monotone {
    -webkit-filter: saturate(0);
    filter: saturate(0)
}
.partner-logo[company="99designs"] {
    background-image: url(../../../client/customer-logo/images/99designs.svg);
    background-size: 90%
}
.partner-logo[company=angieslist] {
    background-image: url(../../../client/customer-logo/images/angieslist.png)
}
.partner-logo[company=appdirect] {
    background-image: url(../../../client/customer-logo/images/appdirect.svg);
    background-size: 90%
}
.partner-logo[company=atlassian] {
    background-image: url(../../../client/customer-logo/images/atlassian.svg)
}
.partner-logo[company=autodesk] {
    background-image: url(../../../client/customer-logo/images/autodesk.svg)
}
.partner-logo[company=baublebar] {
    background-image: url(../../../client/customer-logo/images/baublebar.svg)
}
.partner-logo[company=bitpay] {
    background-image: url(../../../client/customer-logo/images/bitpay.svg);
    background-size: 70%
}
.partner-logo[company=bittorrent] {
    background-image: url(../../../client/customer-logo/images/bittorrent.svg)
}
.partner-logo[company=bonobos] {
    background-image: url(../../../client/customer-logo/images/bonobos.svg)
}
.partner-logo[company=campaignmonitor] {
    background-image: url(../../../client/customer-logo/images/campaignmonitor.svg)
}
.partner-logo[company=charitywater] {
    background-image: url(../../../client/customer-logo/images/charitywater.svg)
}
.partner-logo[company=chartio] {
    background-image: url(../../../client/customer-logo/images/chartio.svg)
}
.partner-logo[company=code_cademy] {
    background-image: url(../../../client/customer-logo/images/code_cademy.svg)
}
.partner-logo[company=condenast] {
    background-image: url(../../../client/customer-logo/images/condenast.svg)
}
.partner-logo[company=digitalocean] {
    background-image: url(../../../client/customer-logo/images/digitalocean.svg)
}
.partner-logo[company=docusign] {
    background-image: url(../../../client/customer-logo/images/docusign.svg)
}
.partner-logo[company=draftkings] {
    background-image: url(../../../client/customer-logo/images/draftkings.svg);
    background-size: 70%
}
.partner-logo[company=edx] {
    background-image: url(../../../client/customer-logo/images/edx.svg);
    background-size: 50%
}
.partner-logo[company=foxtel] {
    background-image: url(../../../client/customer-logo/images/foxtel.svg)
}
.partner-logo[company=intuit] {
    background-image: url(../../../client/customer-logo/images/intuit.svg);
    background-size: 80%
}
.partner-logo[company=lendingtree] {
    background-image: url(../../../client/customer-logo/images/lendingtree.svg)
}
.partner-logo[company=product-hunt] {
    background-image: url(../../../client/customer-logo/images/product-hunt.svg)
}
.partner-logo[company=rdio] {
    background-image: url(../../../client/customer-logo/images/rdio.svg);
    background-size: 50%
}
.partner-logo[company=teespring] {
    background-image: url(../../../client/customer-logo/images/teespring.svg)
}
.partner-logo[company=vsco] {
    background-image: url(../../../client/customer-logo/images/vsco.svg)
}
.partner-logo[company=xoom] {
    background-image: url(../../../client/customer-logo/images/xoom.svg);
    background-size: 70%
}
.partner-logo[company=instacart] {
    background-image: url(../../../client/customer-logo/images/instacart.svg)
}
.partner-logo[company=theknot] {
    background-image: url(../../../client/customer-logo/images/theknot.svg)
}
.partner-logo[company=themotleyfool] {
    background-image: url(../../../client/customer-logo/images/themotleyfool.svg)
}
.partner-logo[company=zenpayroll] {
    background-image: url(../../../client/customer-logo/images/zenpayroll.svg)
}
.partner-logo[company=venturebeat] {
    background-image: url(../../../client/customer-logo/images/venturebeat.svg)
}
.partner-logo[company=salesforce-foundation] {
    background-image: url(../../../client/customer-logo/images/salesforce-foundation.svg)
}
.partner-logo[company=producthunt] {
    background-image: url(../../../client/customer-logo/images/producthunt.svg)
}
.partner-logo[company=pagerduty] {
    background-image: url(../../../client/customer-logo/images/pagerduty.svg)
}
.partner-logo[company=leadpages] {
    background-image: url(../../../client/customer-logo/images/leadpages.svg)
}
.partner-logo[company=invoice2go] {
    background-image: url(../../../client/customer-logo/images/invoice2go.svg);
    background-size: 90%
}
.partner-logo[company=munchery] {
    background-image: url(../../../client/customer-logo/images/munchery.svg);
    background-size: 90%
}
.partner-logo[company=firebase] {
    background-image: url(../../../client/customer-logo/images/firebase.svg);
    background-size: 90%
}
.partner-logo[company=olark] {
    background-image: url(../../../client/customer-logo/images/olark.svg);
    background-size: 60%
}
.partner-logo[company=pebble] {
    background-image: url(../../../client/customer-logo/images/pebble.svg);
    background-size: 90%
}
.partner-logo[company=trunkclub] {
    background-image: url(../../../client/customer-logo/images/trunkclub.svg);
    background-size: 90%
}
.partner-logo[company=invision] {
    background-image: url(../../../client/customer-logo/images/invision.svg);
    background-size: 90%
}
.partner-logo[company=looker] {
    background-image: url(../../../client/customer-logo/images/looker.svg)
}
.partner-logo[company=mode] {
    background-image: url(../../../client/customer-logo/images/mode.svg)
}
.partner-logo[company=optimizely] {
    background-image: url(../../../client/customer-logo/images/optimizely.svg)
}
.partner-logo[company=runkeeper] {
    background-image: url(../../../client/customer-logo/images/runkeeper.svg)
}
.partner-logo[company=twitter-ads] {
    background-image: url(../../../client/customer-logo/images/twitter-ads.svg)
}
.partner-logo[company=target] {
    background-image: url(../../../client/customer-logo/images/target.svg)
}
.partner-logo[company=uservoice] {
    background-image: url(../../../client/customer-logo/images/uservoice.svg)
}
.partner-logo[company=theeconomist] {
    background-image: url(../../../client/customer-logo/images/theeconomist.svg);
    background-size: 70%
}
.partner-logo[company=recurly] {
    background-image: url(../../../client/customer-logo/images/recurly.svg);
    background-size: 80%
}
.partner-logo[company=wb] {
    background-image: url(../../../client/customer-logo/images/warnerbros.svg);
    background-size: auto 90%
}
.partner-logo[company=livenation] {
    background-image: url(../../../client/customer-logo/images/livenation.svg);
    background-size: 100% auto
}
.partner-logo[company=nokia] {
    background-image: url(../../../client/customer-logo/images/nokia.svg)
}
.partner-logo[company=prosper] {
    background-image: url(../../../client/customer-logo/images/prosper.png)
}
.partner-logo[company=twitter] {
    background-image: url(../../../client/customer-logo/images/twitter.svg);
    background-size: auto 55%
}
.partner-logo[company=rackspace] {
    background-image: url(../../../client/customer-logo/images/rackspace.svg)
}
.partner-logo[company=logmein] {
    background-image: url(../../../client/customer-logo/images/logmein.svg);
    background-size: 90% auto
}
.partner-logo[company=simple] {
    background-image: url(../../../client/customer-logo/images/simple.svg)
}
.partner-logo[company=tivo] {
    background-image: url(../../../client/customer-logo/images/tivo.svg);
    background-size: 70%
}
.Hook {
    padding: 70px 0 150px;
    z-index: 5
}
.Hook--filled {
    padding: 140px 0
}
.Hook--tight {
    padding: 70px 0 100px
}
.hook-title {
    color: #54585E;
    font-size: 51px;
    font-weight: 300;
    line-height: 60px;
    margin-bottom: 10px
}
.hook-title--display1 {
    font-size: 45px;
    line-height: 50px
}
.hook-title--display2,
.hook-title--small {
    font-size: 36px;
    line-height: 40px
}
.hook-title--inverse {
    color: #fff
}
.hook-tagline {
    margin: 10px auto;
    max-width: 700px;
    color: #54585E;
    font-weight: 300;
    font-size: 24px;
    line-height: 32px
}
.hook-tagline--inverse {
    color: #B7BDC4
}
.hook-button {
    margin: 30px auto 0
}
.hook-buttonText {
    font-size: 16px;
    color: #CCBEAD;
    line-height: 16px;
    margin-top: 30px
}
.hook-buttonText a {
    color: #3CC76A
}
.SandBackground {
    background: #FCFAF7;
    border-width: 1px 0;
    padding: 100px 0
}
.Grid,
.SandBackground--flush {
    padding: 0
}
[u-space~="top:largest"] {
    margin-top: 100px
}
[u-space~="top:larger"] {
    margin-top: 75px
}
[u-space~="top:large"] {
    margin-top: 50px
}
[u-space~="top:normal"] {
    margin-top: 25px
}
[u-space~="top:small"] {
    margin-top: 15px
}
[u-space~="top:smaller"],
[u-space~="top:smallest"] {
    margin-top: 10px
}
[u-space~="bottom:largest"] {
    margin-bottom: 100px
}
[u-space~="bottom:larger"] {
    margin-bottom: 75px
}
[u-space~="bottom:large"] {
    margin-bottom: 50px
}
[u-space~="bottom:normal"] {
    margin-bottom: 25px
}
[u-space~="bottom:small"] {
    margin-bottom: 15px
}
[u-space~="bottom:smaller"],
[u-space~="bottom:smallest"] {
    margin-bottom: 10px
}
[u-space~="left:largest"] {
    margin-left: 100px
}
[u-space~="left:larger"] {
    margin-left: 75px
}
[u-space~="left:large"] {
    margin-left: 50px
}
[u-space~="left:normal"] {
    margin-left: 25px
}
[u-space~="left:small"] {
    margin-left: 15px
}
[u-space~="left:smaller"],
[u-space~="left:smallest"] {
    margin-left: 10px
}
[u-space~="right:largest"] {
    margin-right: 100px
}
[u-space~="right:larger"] {
    margin-right: 75px
}
[u-space~="right:large"] {
    margin-right: 50px
}
[u-space~="right:normal"] {
    margin-right: 25px
}
[u-space~="right:small"] {
    margin-right: 15px
}
[u-space~="right:smaller"],
[u-space~="right:smallest"] {
    margin-right: 10px
}
.Grid {
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    margin: 0
}
.Grid--alignCenter {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
}
.Grid--alignRight {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end
}
.Grid--alignMiddle {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}
.Grid--alignBottom {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end
}
.Grid--fit>.Grid-cell {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 0%;
    -ms-flex: 1 1 0%;
    flex: 1 1 0%
}
.Grid--equalHeight>.Grid-cell {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}
.Grid--withGutter {
    margin: 0 -15px
}
.Grid--withGutter>.Grid-cell {
    padding: 0 15px
}
.Grid-cell {
    box-sizing: inherit
}
.Grid-cell--center {
    margin: 0 auto
}
.carousel {
    overflow: hidden
}
.carousel ul {
    list-style: none;
    padding: 0;
    margin: 0
}
.carousel li {
    padding: 0;
    margin: 0;
    background: #fff;
    display: none
}
.carousel .carousel-active,
.carousel .carousel-next,
.carousel .carousel-prev {
    -webkit-transition: .4s all ease;
    transition: .4s all ease;
    display: block;
    width: 100%;
    height: 100%;
    top: 0
}
.carousel .carousel-next,
.carousel .carousel-prev {
    position: absolute
}
.carousel .carousel-active {
    left: 0;
    z-index: 10
}
.carousel .carousel-prev {
    left: -100%;
    z-index: -10
}
.carousel .carousel-next {
    left: 100%;
    z-index: -10
}
.Quotes {
    margin-top: 100px;
    margin-bottom: -30px
}
.popular-partners {
    padding: 0 0 50px
}
.popular-partners-title {
    font-weight: 400;
    font-size: 20px;
    color: #707479;
    text-transform: lowercase
}
.popular-partners-item {
    display: inline-block;
    margin: 0 15px;
    vertical-align: middle;
    width: 150px;
    height: 70px
}
.Integration,
.Integration-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox
}
.popular-partners-body {
    height: 70px;
    position: relative;
    margin: 25px auto 0
}
.img-carousel-body {
    height: 70px;
    width: 750px;
    margin: 0 auto
}
.img-carousel-nextButton,
.img-carousel-prevButton {
    background-image: url(libraries/images/carousel-arrow.svg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 34px;
    position: absolute;
    width: 19px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    opacity: .3
}
.img-carousel-nextButton:hover,
.img-carousel-prevButton:hover {
    opacity: 1
}
.img-carousel-nextButton:focus,
.img-carousel-prevButton:focus {
    outline: 0
}
.img-carousel-prevButton {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    left: 70px;
    margin-top: -10px
}
.img-carousel-nextButton {
    right: 70px
}
.Integration-page {
    padding: 100px 0
}
.Integration {
    box-shadow: 0 0 5px 1px #FCFAF7;
    display: flex;
    margin: 30px auto;
    max-width: 900px;
    overflow: hidden
}
.Integration-sidebar {
    background-color: #FCFAF7;
    border-radius: 4px 0 0 4px;
    padding: 10px;
    position: relative;
    z-index: 2;
    width: 160px;
    border: 1px solid rgba(204, 190, 173, .5)
}
.Integration-body {
    width: 740px
}
.Integration-list {
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    z-index: 1
}
.Integration-search {
    border-left: 0;
    border-radius: 0 4px 0 0;
    padding: 10px
}
.About,
.Integration-searchInput {
    border: 1px solid rgba(204, 190, 173, .5)
}
.Integration-searchInput {
    border-radius: 4px;
    line-height: 29px;
    padding: 0 10px;
    font-size: 16px;
    color: rgba(112, 116, 121, .3)
}
.Integration-tile {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid rgba(204, 190, 173, .5);
    border-right: 1px solid rgba(204, 190, 173, .5);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    height: 100px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 30px;
    -webkit-transition: box-shadow .3s, background-color .3s;
    transition: box-shadow .3s, background-color .3s
}
.Integration-tile:last-of-type {
    border-radius: 0 0 4px
}
.Switch,
.Switch-handle {
    border-radius: 20px;
    display: block
}
.Integration-tile:focus,
.Integration-tile:hover {
    box-shadow: 0 1px 6px rgba(204, 190, 173, .5);
    z-index: 1
}
.Integration-tile.enabled {
    background-color: #fff
}
.Integration-tile.disabled {
    background-color: #f8f5f0
}
.Integration-tile-switch {
    position: relative
}
.Switch {
    height: 17px;
    overflow: hidden;
    width: 35px
}
.Switch-enabled {
    background: #3CC76A
}
.Switch-disabled {
    background: rgba(204, 190, 173, .5)
}
.Switch-handle {
    background: #fff;
    height: 15px;
    pointer-events: none;
    position: absolute;
    top: 1px;
    width: 15px
}
.Switch-handle-enabled {
    right: 1px
}
.Switch-handle-disabled {
    left: 1px
}
.Integration-tile-logo {
    background-position: left center;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    font-size: 2em;
    height: 25px;
    margin: 0;
    position: relative;
    text-indent: -9999px;
    width: 3.1em
}
.adobe-analytics {
    background-image: url(integrations-page/images/.svg)
}
.heap {
    background-image: url(integrations-page/images/.svg)
}
.crittercism {
    background-image: url(integrations-page/images/.svg)
}
.customerio {
    background-image: url(integrations-page/images/.svg)
}
.facebook-conversion {
    background-image: url(integrations-page/images/.svg)
}
.flurry {
    background-image: url(integrations-page/images/.svg)
}
.google-analytics {
    background-image: url(integrations-page/images/.svg)
}
.intercom {
    background-image: url(integrations-page/images/.svg)
}
.kissmetrics {
    background-image: url(integrations-page/images/.svg)
}
.mailchimp {
    background-image: url(integrations-page/images/.svg)
}
.marketo {
    background-image: url(integrations-page/images/.svg)
}
.mixpanel {
    background-image: url(integrations-page/images/.svg)
}
.optimizely {
    background-image: url(integrations-page/images/.svg)
}
.quantcast {
    background-image: url(integrations-page/images/.svg)
}
.salesforce {
    background-image: url(integrations-page/images/.svg)
}
.navigationMenu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: left
}
.navigationMenu-item {
    color: #CCBEAD;
    font-size: 16px;
    text-transform: lowercase;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 0 10px;
    margin-bottom: 5px
}
.navigationMenu-item.active {
    border-color: #3CC76A;
    background-color: #fff;
    color: #3CC76A;
    box-shadow: 0 2px rgba(0, 0, 0, .05)
}
.CodeDiff {
    padding: 100px 0;
    background: #54585E
}
.CodeDiff-image,
.LibraryList-logo {
    background-position: center center;
    background-repeat: no-repeat
}
.CodeDiff-image {
    background-image: url(code-diff/images/code-diff.svg);
    background-size: 100%;
    display: block;
    height: 480px;
    margin: 30px auto 0;
    max-width: 900px
}
.CodeDiff-libraries {
    text-align: center
}
.LibraryList {
    padding-top: 25px
}
.LibraryList li {
    display: inline-block;
    margin: 10px 10px 0
}
.LibraryList-logo {
    background-size: contain;
    display: inline-block;
    opacity: .5;
    position: relative;
    height: 35px;
    width: 35px;
    text-indent: -9999px
}
.LibraryList-logo:hover {
    opacity: 1;
    -webkit-transition: all .2s linear;
    transition: all .2s linear
}
.LibraryList-logo:after {
    font: 400 16px/21px 'Freight Sans', Verdana, Geneva, sans-serif;
    position: absolute;
    top: 38px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    display: none;
    text-indent: initial
}
.LibraryList-logo:hover:after {
    color: #B7BDC4;
    display: block
}
.Diagram,
.ProductSelector {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    -webkit-box-direction: normal
}
.LibraryList-logo[language=js] {
    background-image: url(libraries/images/js.svg)
}
.LibraryList-logo[language=js]:after {
    content: "Analytics.js"
}
.LibraryList-logo[language=clojure] {
    background-image: url(libraries/images/clojure.svg)
}
.LibraryList-logo[language=clojure]:after {
    content: "Clojure"
}
.LibraryList-logo[language=android] {
    background-image: url(libraries/images/android.svg)
}
.LibraryList-logo[language=php] {
    background-image: url(libraries/images/php.svg)
}
.LibraryList-logo[language=android]:after {
    content: "PHP"
}
.LibraryList-logo[language=java] {
    background-image: url(libraries/images/java.svg)
}
.LibraryList-logo[language=java]:after {
    content: "Java"
}
.LibraryList-logo[language=net] {
    background-image: url(libraries/images/net.svg)
}
.LibraryList-logo[language=net]:after {
    content: ".Net"
}
.LibraryList-logo[language=ruby] {
    background-image: url(libraries/images/ruby.svg)
}
.LibraryList-logo[language=ruby]:after {
    content: "Ruby"
}
.LibraryList-logo[language=python] {
    background-image: url(libraries/images/python.svg)
}
.LibraryList-logo[language=python]:after {
    content: "Python"
}
.LibraryList-logo[language=ios] {
    background-image: url(libraries/images/ios.svg)
}
.LibraryList-logo[language=ios]:after {
    content: "iOS"
}
.Diagram {
    background: url(diagram/diagram.svg) center no-repeat;
    background-size: contain;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    height: 430px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0 auto 40px;
    width: 699px
}
.Diagram-step1,
.Diagram-step2 {
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
    width: 180px;
    color: #CCBEAD;
    font-size: 14px;
    line-height: 18px
}
.Diagram-step1 {
    padding-left: 20px;
    text-align: left;
    border-left: 1px solid rgba(204, 190, 173, .5)
}
.Diagram-step2 {
    padding-right: 20px;
    text-align: right;
    border-right: 1px solid rgba(204, 190, 173, .5)
}
.About {
    background: #FCFAF7;
    border-width: 1px 0;
    padding: 100px 0
}
.ProductSelector {
    border: 1px solid rgba(204, 190, 173, .5);
    border-width: 1px 0;
    background-color: #FCFAF7;
    padding: 50px 0;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}
.ProductSelector-title {
    margin-bottom: 30px
}
.ProductSelector-products {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}
.ProductSelector-products>* {
    margin: 0 10px
}
.ProductTile {
    background: #FFF;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .04), 0 0 0 1px rgba(204, 190, 173, .5);
    border-radius: 4px;
    padding: 25px 35px 35px;
    width: 300px;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box
}
.ProductTile.active,
.ProductTile:hover {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .04), 0 0 0 2px #3CC76A
}
.ProductTile-title {
    font-size: 20px;
    color: #54585E;
    line-height: 21px;
    font-weight: 400;
    margin-bottom: 10px
}
.ProductTile-button {
    margin: 20px 0 10px
}
.ProductTile-icon {
    margin-bottom: 10px
}
.ProductTile-description {
    color: #54585E;
    font: 400 16px/21px 'Freight Sans', Verdana, Geneva, sans-serif
}
.ProductIcon {
    display: inline-block;
    width: 50px;
    height: 50px;
    background: center center no-repeat
}
.ProductIcon[type=integrations] {
    background-image: url(../../pricing/client/product-icon/images/integrations.svg)
}
.ProductIcon[type=warehouses] {
    background-image: url(../../pricing/client/product-icon/images/warehouses.svg)
}
